[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
asgiref = "*"
django = "*"
flake8 = "*"
mccabe = "*"
pycodestyle = "*"
pyflakes = "*"
sqlparse = "*"
typing-extensions = "*"
heroku = "*"
python-decouple = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
collectfast = "*"
pytest = "*"
django-debug-toolbar = "*"
sentry-sdk = "*"
botocore = "*"
certifi = "*"
charset-normalizer = "*"
django-storages = "*"
exceptiongroup = "*"
idna = "*"
iniconfig = "*"
jmespath = "*"
packaging = "*"
pluggy = "*"
python-dateutil = "*"
requests = "*"
s3transfer = "*"
six = "*"
tomli = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
