[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "*"
flake8 = "==6.0.0"
mccabe = "==0.7.0"
pycodestyle = "==2.10.0"
pyflakes = "==3.0.1"
sqlparse = "==0.4.4"
typing-extensions = "==4.6.3"
heroku = "*"
python-decouple = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.9"
