name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [ 3.8, 3.9]
        
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Copying configurations
      run: |
          cp contrib/env-sample .env
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Postgres Test
      run: |
        apt-get install --yes --no-install-recommends postgresql-client
        psql -h postgres -U postgres -c 'CREATE DATABASE postgres;'
    - name: Run Tests
      run: |
        python manage.py test
     